:root{
    --color: #333333;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

.logo p{
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.10em;
    color: var(--color);
    margin-left: 4em;
    margin-top: 1em;
}

.content{
    display: flex;
    margin-top: 2em;
}

img{
    position: relative;
    width: 25em;
    margin-left: 5em;
    margin-right: 5em;
}

.info{
    margin-right: 5em;
}

.info h1{
    position: relative;
    font-weight: 700;
    font-size: 4em;
    letter-spacing: -0.05em;
    color: var(--color);
}

.info p{
    position: relative;
    color: #333333;
    font-weight: 400;
    font-size: 1.5em;
    max-width: 20em;
}

button{
    position: relative;
    font-weight: 700;
    font-size: 1em;
    background-color: var(--color);
    color: #FFFFFF;
    border: none;
    letter-spacing: -0.05em;
    padding: 1em 2em;
    margin-top: 2em;
}

footer{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.7em;
    color: #BDBDBD;
    margin-top: 4em
}


@media only screen and (max-width: 900px) {
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .logo p{
        margin-left: 1em;
        margin-top: 0.5em;
    }

    .content{
        display: block;
    }

    .img img{
        width: 50vw;
        margin-left: 25vw;
        margin-right: 25vw;
        margin-top: 2em;
    }

    .info{
        margin-top: 3em;
        margin-left: 4em;
        margin-right: 3em;
    }

    .info h1{
        font-size: 2.5em;
    }

    .info p{
        margin-top: 2em;
        font-size: 1em;
    }

    button{
        margin-top: 4em;
    }

    footer{
        margin-top: 8em;
    }
  }